@using System;
@using OSDevGrp.MyDashboard.Web.Models;
@model InformationViewModel

<img class="d-block w-100" src="@Model.ImageUrl" />
@if (string.IsNullOrWhiteSpace(@Model.Header) == false)
{
    <div class="carousel-caption d-none d-md-block">
        @if (string.Compare(Model.ExternalUrl, "#", StringComparison.OrdinalIgnoreCase) != 0)
        {
            <h5><a class="" href="@Model.ExternalUrl">@Model.Header</a></h5>
        }
        else
        {
            <h5>@Model.Header</h5>
        }
    </div>
}