@using OSDevGrp.MyDashboard.Web.Models;
@model InformationViewModel

<div class="panel panel-info">
    @if (string.IsNullOrWhiteSpace(@Model.Header) == false)
    {
        <div class="panel-heading"><a href="@Model.ExternalUrl">@Html.Raw(Model.Header)</a></div>
    }
    @if (string.IsNullOrWhiteSpace(@Model.Summary) == false || string.IsNullOrWhiteSpace(@Model.Details) == false || string.IsNullOrWhiteSpace(@Model.ImageUrl) == false)
    {
        <div class="panel-body">
            @if (string.IsNullOrWhiteSpace(@Model.Summary) == false)
            {
                <a href="@Model.ExternalUrl">@Html.Raw(Model.Summary)</a>
            }
            else if (string.IsNullOrWhiteSpace(@Model.Details) == false)
            {
                <a href="@Model.ExternalUrl">@Html.Raw(Model.Details)</a>
            }
        </div>
        }
    </div>
