@using System.Globalization;
@using OSDevGrp.MyDashboard.Web.Models;
@model InformationViewModel

<div class="card">
    @if (string.IsNullOrWhiteSpace(Model.ImageUrl) == false)
    {
        <img class="card-img-top img-fluid" src="@Model.ImageUrl" />
    }
    <div class="card-body">
        @if (string.Compare(@Model.ExternalUrl, "#", StringComparison.OrdinalIgnoreCase) != 0 && string.IsNullOrWhiteSpace(Model.Header) == false)
        {
            <h4 class="card-title"><a href="#" onclick="javascript:openLink('@Model.ExternalUrl');">@Model.Header</a></h4>
        }
        else if (string.IsNullOrWhiteSpace(Model.Header) == false)
        {
            <h4 class="card-title">@Model.Header</h4>
        }
        @if (string.IsNullOrWhiteSpace(Model.Summary) == false)
        {
            <p class="card-text">@Model.Summary</p>
        }
    </div>
    <div class="card-footer">
        @if (Model.AgeInDays < 7)
        {
            <p class="text-left">@Model.Timestamp.ToString("dddd") @Model.Timestamp.ToShortTimeString() - @Html.Raw(Model.AuthorOrProvider)</p>
        }
        else
        {
            <p class="text-left">@Model.AgeInDays days ago - @Html.Raw(Model.AuthorOrProvider)</p>
        }
    </div>
</div>