@model DashboardViewModel
@if (Model.RedditAuthenticatedUser != null || (Model.RedditSubreddits != null && Model.RedditSubreddits.Any()))
{
    <hr />
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">
        @if (Model.RedditAuthenticatedUser != null)
        {
            <div class="col mb-3">
                @Html.Raw(Model.RedditAuthenticatedUser.Html)
            </div>
        }
        @if (Model.RedditSubreddits != null && Model.RedditSubreddits.Any())
        {
            foreach (ObjectViewModel<IRedditSubreddit> objectViewModelForRedditSubreddit in Model.RedditSubreddits)
            {
                <div class="col mb-3">
                    @Html.Raw(objectViewModelForRedditSubreddit.Html)
                </div>
            }
        }
    </div>
}
@if (Model.SystemErrors != null && Model.SystemErrors.Any())
{
    <hr />
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">
        @foreach (SystemErrorViewModel systemErrorViewModel in Model.SystemErrors)
        {
            <div class="col mb-3">
                <div class="card h-100">
                    <div class="card-header text-danger">System error</div>
                    <div class="card-body">
                        <p class="card-text">@Html.Raw(systemErrorViewModel.TruncatedMessage)</p>
                    </div>
                    <div class="card-footer">
                        <form asp-controller="Home" asp-action="SystemError" method="post">
                            <input asp-for="@systemErrorViewModel.SystemErrorIdentifier" type="hidden" />
                            <input asp-for="@systemErrorViewModel.Timestamp" type="hidden" />
                            <input asp-for="@systemErrorViewModel.Message" type="hidden" />
                            <input asp-for="@systemErrorViewModel.Details" type="hidden" />
                            <div class="text-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-info">View</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}