@model DashboardViewModel
@if (Model.RedditSubreddits != null && Model.RedditSubreddits.Any())
{
    <div class="row">
        <h2>Subreddits</h2>
        @foreach (ObjectViewModel<IRedditSubreddit> objectViewModelForRedditSubreddit in Model.RedditSubreddits)
        {
            @Html.Raw(objectViewModelForRedditSubreddit.Html);
        }
    </div>
}
@if (Model.SystemErrors != null && Model.SystemErrors.Any())
{
    <div class="row">
        <h2>System errors</h2>
        @foreach (SystemErrorViewModel systemErrorViewModel in Model.SystemErrors)
        {
            <div class="card mb-3">
                <div class="card-header text-danger">System error</div>
                <div class="card-body">@Html.Raw(systemErrorViewModel.TruncatedMessage)</div> 
                <div class="card-footer">
                    <form asp-controller="Home" asp-action="SystemError" method="post">
                        <input asp-for="@systemErrorViewModel.SystemErrorIdentifier" type="hidden" />
                        <input asp-for="@systemErrorViewModel.Timestamp" type="hidden" />
                        <input asp-for="@systemErrorViewModel.Message" type="hidden" />
                        <input asp-for="@systemErrorViewModel.Details" type="hidden" />
                        <div class="text-center">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-info">View</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
}