@using System.Linq;
@using OSDevGrp.MyDashboard.Web.Models;
@model DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @if (Model.InformationsWithImageUrl != null && Model.InformationsWithImageUrl.Any() && false)
    {
        <div class="col-md-8">
            @Html.Partial("_CarouselPartial", Model.InformationsWithImageUrl)
        </div>
        <div class="col-md-4">
            <h1>Reddit Authenticated User</h1>
        </div>
    }
    else if (Model.InformationsWithImageUrl != null && Model.InformationsWithImageUrl.Any())
    {
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            @Html.Partial("_CarouselPartial", Model.InformationsWithImageUrl)
        </div>
        <div class="col-md-1">
        </div>
    }
    else if (false)
    {
        <div class="col-md-4">
            <h1>Reddit Authenticated User</h1>
        </div>
        <div class="col-md-8">
        </div>
    }
</div>
<div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
        @if (Model.Settings != null)
        {
            @Html.Partial("_DashboardSettingsPartial", Model.Settings)                        
        }
    </div>
</div>
<!--
<div class="row">
    <div class="col-md-9">
        @if (Model.Informations != null && Model.Informations.Any())
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="panel-group">
                        @for (int elementNo = 0; elementNo < Model.Informations.Count(); elementNo += 3)
                        {
                            @Html.Partial("_InformationPartial", @Model.Informations.ElementAt(elementNo))
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel-group">
                        @for (int elementNo = 1; elementNo < Model.Informations.Count(); elementNo += 3)
                        {
                            @Html.Partial("_InformationPartial", @Model.Informations.ElementAt(elementNo))
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel-group">
                        @for (int elementNo = 2; elementNo < Model.Informations.Count(); elementNo += 3)
                        {
                            @Html.Partial("_InformationPartial", @Model.Informations.ElementAt(elementNo))
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-3">
        @if (Model.SystemErrors != null && Model.SystemErrors.Any())
        {
            <h2>System errors</h2>
            <div class="panel-group">
                @foreach (SystemErrorViewModel systemErrorViewModel in Model.SystemErrors)
                {
                    <div class="panel panel-danger">
                        <div class="panel-heading">System error</div>
                        <div class="panel-body"><p>@Html.Raw(systemErrorViewModel.TruncatedMessage)</p></div>
                        <div class="panel-footer">
                            <form asp-controller="Home" asp-action="SystemError" method="post">
                                <input asp-for="@systemErrorViewModel.SystemErrorIdentifier" type="hidden" />
                                <input asp-for="@systemErrorViewModel.Timestamp" type="hidden" />
                                <input asp-for="@systemErrorViewModel.Message" type="hidden" />
                                <input asp-for="@systemErrorViewModel.Details" type="hidden" />
                                <div class="text-center">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-info">View</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
-->

@section Scripts
{
    @Html.Partial("_ValidationScriptsPartial")
}
