@using OSDevGrp.MyDashboard.Web.Models;
@model DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-9">
        <h2>Informations</h2>
        @if (Model.Informations != null && Model.Informations.Any())
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="panel-group">
                        @for (int elementNo = 0; elementNo < Model.Informations.Count(); elementNo += 3)
                        {
                            @Html.Partial("_Information", @Model.Informations.ElementAt(elementNo))
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel-group">
                        @for (int elementNo = 1; elementNo < Model.Informations.Count(); elementNo += 3)
                        {
                            @Html.Partial("_Information", @Model.Informations.ElementAt(elementNo))
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel-group">
                        @for (int elementNo = 2; elementNo < Model.Informations.Count(); elementNo += 3)
                        {
                            @Html.Partial("_Information", @Model.Informations.ElementAt(elementNo))
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-3">
        <h2>My Dashboard</h2>
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">My Dashboard</div>
                <div class="panel-body"><p>Content information</p></div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">My Dashboard</div>
                <div class="panel-body"><p>Content information</p></div>
            </div>
        </div>
        @if (Model.SystemErrors != null && Model.SystemErrors.Any())
        {
            <h2>System errors</h2>
            <div class="panel-group">
                @foreach (SystemErrorViewModel systemErrorViewModel in Model.SystemErrors)
                {
                    <div class="panel panel-danger">
                        <div class="panel-heading">System error</div>
                        <div class="panel-body"><p>@systemErrorViewModel.TruncatedMessage</p></div>
                        <div class="panel-footer">
                            <form asp-controller="Home" asp-action="SystemError" method="post">
                                <input asp-for="@systemErrorViewModel.SystemErrorIdentifier" type="hidden" />
                                <input asp-for="@systemErrorViewModel.Timestamp" type="hidden" />
                                <input asp-for="@systemErrorViewModel.Message" type="hidden" />
                                <input asp-for="@systemErrorViewModel.Details" type="hidden" />
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-info">View</button>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
