@using System.Linq;
@using OSDevGrp.MyDashboard.Core.Contracts.Models;
@using OSDevGrp.MyDashboard.Web.Models;
@model DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @if (Model.LatestInformationsWithImage != null && Model.LatestInformationsWithImage.Any() && Model.RedditAuthenticatedUser != null)
    {
        <div class="col-md-8">
            @await Html.PartialAsync("_CarouselPartial", Model.LatestInformationsWithImage)
        </div>
        <div class="col-md-4">
            <div class="card-deck mb-md-3">
                @Html.Raw(Model.RedditAuthenticatedUser.Html)
            </div>
        </div>
    }
    else if (Model.LatestInformationsWithImage != null && Model.LatestInformationsWithImage.Any())
    {
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            @await Html.PartialAsync("_CarouselPartial", Model.LatestInformationsWithImage)
        </div>
        <div class="col-md-1">
        </div>
    }
    else if (Model.RedditAuthenticatedUser != null)
    {
        <div class="col-md-4">
            <div class="card-deck mb-md-3">
                @Html.Raw(Model.RedditAuthenticatedUser.Html)
            </div>
        </div>
        <div class="col-md-8">
        </div>
    }
</div>
<div class="row">
    <div class="col-md-9">
        @if (Model.Informations != null && Model.Informations.Any())
        {
            @for (int elementNo = 0; elementNo < Model.Informations.Count(); elementNo += 3)
            {
                <div class="card-deck mb-md-3">
                    @await Html.PartialAsync("_InformationPartial", Model.Informations.ElementAt(elementNo))
                    @if (elementNo + 1 < Model.Informations.Count())
                    {
                        @await Html.PartialAsync("_InformationPartial", Model.Informations.ElementAt(elementNo + 1))
                    }
                    @if (elementNo + 2 < Model.Informations.Count())
                    {
                        @await Html.PartialAsync("_InformationPartial", Model.Informations.ElementAt(elementNo + 2))
                    }
                </div>
            }
        }
    </div>
    <div class="col-md-3">
        @if (Model.Settings != null)
        {
            @await Html.PartialAsync("_DashboardSettingsPartial", Model.Settings)                        
        }
        @if (Model.RedditSubreddits != null && Model.RedditSubreddits.Any())
        {
            <h2>Subreddits</h2>
            @foreach (ObjectViewModel<IRedditSubreddit> objectViewModelForRedditSubreddit in Model.RedditSubreddits)
            {
                @Html.Raw(objectViewModelForRedditSubreddit.Html);
            }
        }
        @if (Model.SystemErrors != null && Model.SystemErrors.Any())
        {
            <h2>System errors</h2>
            @foreach (SystemErrorViewModel systemErrorViewModel in Model.SystemErrors)
            {
                <div class="card mb-md-3">
                    <div class="card-header text-danger">System error</div>
                    <div class="card-body">@Html.Raw(systemErrorViewModel.TruncatedMessage)</div> 
                    <div class="card-footer">
                        <form asp-controller="Home" asp-action="SystemError" method="post">
                            <input asp-for="@systemErrorViewModel.SystemErrorIdentifier" type="hidden" />
                            <input asp-for="@systemErrorViewModel.Timestamp" type="hidden" />
                            <input asp-for="@systemErrorViewModel.Message" type="hidden" />
                            <input asp-for="@systemErrorViewModel.Details" type="hidden" />
                            <div class="text-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-info">View</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
